[Unit]
Description=ACPWB botseed processor
After=network.target redis-server.service acpwb-gunicorn.service

[Service]
Type=simple
User=acpwb
Group=acpwb
WorkingDirectory=/home/acpwb/acpwb/acpwb
EnvironmentFile=/home/acpwb/acpwb/.env
ExecStart=/home/acpwb/acpwb/.direnv/python-3.14/bin/python manage.py botseed_processor
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
