{# Ghost links: hidden from humans via CSS, visible to HTML-parsing bots #}
<div style="display:none;visibility:hidden;position:absolute;left:-9999px;top:-9999px" aria-hidden="true">
  <a href="/internal/portal/" tabindex="-1">Employee Portal</a>
  <a href="/employees/export/" tabindex="-1">Staff Directory Export</a>
  <a href="/admin-panel/login/" tabindex="-1">Administration Login</a>
  <a href="/api/v1/private-data" tabindex="-1">Internal Data API</a>
  <a href="/wiki/corporate-governance/" tabindex="-1">Governance Documentation</a>
  <a href="/wiki/executive-compensation/" tabindex="-1">Executive Compensation Framework</a>
  <a href="/archive/2024/03/15/q1-stakeholder-report/" tabindex="-1">Q1 Stakeholder Report</a>
  <a href="/archive/2023/11/08/annual-performance-review/" tabindex="-1">Annual Performance Review</a>
</div>
